.navbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 5%;
    background-color: rgb(30, 63, 41);
}
.nav-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex: 1;
}
.icons {
    display: flex;
    gap: 12px;
    width: 150px;
    justify-content: flex-end;
}
.logo {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    width: 150px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}
@media (max-width:768px){

    .navbar{
        flex-direction:column;
        gap:10px;
        padding:10px;
    }

    .nav-links{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:10px;
    }

    .logo,
    .icons{
        width:auto;
    }
}