
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(../img/icons/Kit\ EcoMarket\ Transparente\ \(7\).png);
    background-size: cover;
    background-position: center;
    margin: 0;
    min-height: 100vh;
    background-attachment: fixed;
}
.hero {
    min-height: 100vh; 
}
.productos-seccion {
    min-height: 100vh;     
    padding: 60px 20px;  
    background-color: #f5f2e8;
    
}