<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoMarket</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <section class="contacto">

    <div class="contacto-hover">

        <h1>Contáctanos</h1>

        <p>
            ¿Tienes dudas o sugerencias?
            Escríbenos.
        </p>

        <form class="formulario">

            <input type="text" placeholder="Nombre">

            <input type="email" placeholder="Correo electrónico">

            <textarea placeholder="Escribe tu mensaje"></textarea>

            <button class="boton">
                Enviar mensaje
            </button>

        </form>

    </div>

</section>
</body>
</html>