<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoMarket</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/animations.css">
</head>
<body>

    <nav class="navbar">
        <a class="logo" href="../index.html">EcoMarket</a>
        <div class="nav-links">
            <a href="../views/contacto.html">Contáctanos</a>
            <a href="../views/productos.html">Productos</a>
            <a href="../views/sobre-nosotros.html">Sobre nosotros</a>
        </div>
    </nav>

    <ul class="lista-filtros">
        <li><a href="#">Todos</a></li>
        <li><a href="#categoria-botellas">Botellas</a></li>
        <li><a href="#categoria-bolsas">Bolsas</a></li>
        <li><a href="#categoria-kits">Kits</a></li>
    </ul>

    <section class="productos">

        <div id="categoria-botellas" class="grupo-productos">
            
            <div class="card">
                <img src="../img/products/botella.png" alt="Botella ecológica">
                <h2>Botella ecológica</h2>
                <p>Botella reutilizable premium</p>
                <span>$35.000</span>
                <a href="#" class="boton">Comprar</a>
            </div>

            <div class="card">
                <img src="../img/products/Kit EcoMarket Transparente (4) (1).png" alt="Botella Deportiva">
                <h2>Botella Deportiva</h2>
                <p>Para tus entrenamientos diarios</p>
                <span>$40.000</span>
                <a href="#" class="boton">Comprar</a>
            </div>

        </div>

        <div id="categoria-bolsas" class="grupo-productos">
            
            <div class="card">
                <img src="../img/products/bolsa.png" alt="Bolsa ecológica">
                <h2>Bolsa ecológica</h2>
                <p>Bolsa sostenible reutilizable</p>
                <span>$20.000</span>
                <a href="#" class="boton">Comprar</a>
            </div>

            <div class="card">
                <img src="../img/products/Kit EcoMarket Transparente (5) (2).png" alt="Bolsa de Compra Grande">
                <h2>Bolsa de Compra</h2>
                <p>Resistente y lavable</p>
                <span>$25.000</span>
                <a href="#" class="boton">Comprar</a>
            </div>

        </div>

        <div id="categoria-kits" class="grupo-productos">
            
            <div class="card">
                <img src="../img/products/kit.png" alt="Kit Bamboo">
                <h2>Kit Bamboo</h2>
                <p>Kit ecológico completo</p>
                <span>$50.000</span>
                <a href="#" class="boton">Comprar</a>
            </div>
             <div class="card">
                <img src="../img/products/Kit EcoMarket Transparente (6) (1).png" alt="Kit Bamboo">
                <h2>Kit Bamboo</h2>
                <p>Kit ecológico completo</p>
                <span>$50.000</span>
                <a href="#" class="boton">Comprar</a>
            </div>

        </div>

    </section>

</body>
</html>