<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoMarket</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <section class="productos">

    <div class="card">

        <img src="../img/products/botella.png" alt="">

        <h2>Botella ecológica</h2>

        <p>
            Botella reutilizable premium
        </p>

        <span>$35.000</span>

        <a href="#" class="boton">
            Comprar
        </a>

    </div>
    <div class="card">
        <img src="../img/products/bolsa.png" alt="">
        <h2>Bolsa ecológica</h2>
        <p>
            Bolsa sostenible reutilizable
        </p>
        <span>$20.000</span>
        <a href="#" class="botn">
            Comprar
        </a>
    </div>
    <div class="card">
        <img src="../img/products/kit.png" alt="">

        <h2>Kit Bamboo</h2>
        <p>
            Kit ecológico completo
        </p>
        <span>$50.000</span>
        <a href="#" class="boton">
            Comprar
        </a>
    </div>
</section>
</body>
</html>